html {
    background-color: black;
}

.content-container {
    width: 50%;
    margin-left: 25%; /* horizontally centers */
    text-align: center;
}

p {
    font-family: "Libre Baskerville";
    color: white;
}

h1 {
    color: white;
    text-transform: uppercase;
}

img {
    width: 100%;      /* makes image fill the div */
    height: auto;     /* keeps aspect ratio */
    display: block;
    border: 10px solid white;
    margin-top: 20px; /* optional spacing */
}
